body {
    background-color: black;
    color: wheat;
}

#main-heading{
    text-align: center;
}

.container{
    justify-content: center;
    display: flex;
}

.boxes{
    display: flex;
    align-items:center;
    text-align: justify;
    padding: 30px;
    border-style: solid;
    margin: 5px;
}

button{
    background-color: transparent;
    color: wheat;
    border-color: wheat;
    border:3px;
}

.hidden-content{
    display: none;
}

.reveal-btn{
    display: block;
}