body {
    padding: 30px;
    background-color: black;
    color: wheat;
    border-style: solid;
    border-color: wheat
}

ul li {
    text-align: center;
    list-style-type: none;
    margin: 20px 100px;
    border-style: solid;
    padding: 10px;
}

ul{
    border-style: solid;
    padding: 10px;
}

